body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

.arrow{
    font-size: 2rem
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

#hrtop {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.selecione {
    margin-top: 3%;
}

.btn {
    border: none;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 25px 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
    margin-top: 50px;
    transition: 0.3s ease;
}

/* hr{

} */

.btn:hover {
    color: rgb(100, 100, 100);
}

.logo {
    margin-top: 1.5%;
    margin-left: 6%;
    width: 120px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-image {
    width: 65%;
}